//@import './scheme.less';
@import '../../../bower_components/bootstrap/less/bootstrap.less';
//@import './variables-theme.less';
@import './variables.less';
//@import './bootswatch.less';
//@import './1pxdeep.less';

body {
  padding-top: 30px;
  border-top: 20px solid #eee;
}

.container {
  max-width: 450px;
}

.avatar {
  display: block;
  text-align: center;
  img {
    height: 120px;
    margin: 0 auto;
  }
}

.well-url {
  margin-bottom: 0;
}

.nav-main {
  margin-top: 30px;
}

.body {
  padding: 20px;
  //background-color: #ffffff;
  border: 1px solid @nav-tabs-border-color;
  border-radius: 0 0 @border-radius-base @border-radius-base;
  margin-top: -1px;
  //padding-top: 20px;
}

.footer {
  //padding: 15px 0;
  //border-top: 1px solid #eee;
  margin-top: 25px;
}